*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

button{
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

a{
  text-decoration: none;
}

h1{
  text-align: center;
}

/*Header start*/
.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#f39c12;
  padding: 1rem;
}


.App-header .app-link:hover {
  color: blue;
}



/*Header searchbox and input Start*/
.search-box {
  display: flex;
  align-items: center;
}

#header-searchbox {
  width: 300px;
  height: 40px;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 18px;
  border-radius: 20px 0 0 20px ;
}

.search-button {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: white;
}
/*Header searchbox and input End*/

.app-link{
  text-decoration: none;
  color: rgb(32, 25, 31);
  font-size: 3rem;
}

.signin-link{
  font-size: 2rem;
  color: black;
}




/*select-menu Start*/

.header-user-name{
  font-family: Georgia, serif;
  color: #333;
  text-transform: capitalize;
  font-size: 20px;
  margin-bottom: 4px;
}

.header-user-name::first-letter {
  font-size: 2rem;
  font-weight: bold;
  background-color: #eee;
  border: 2px solid #333;
}

.select-menu {
  /* genişlik ve yükseklik */
  width: 200px;
  height: 40px;
  /* kenarlık ve yuvarlak köşeler */
  border: 2px solid #333;
  border-radius: 10px;
  /* yazı tipi ve renk */
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  /* arkaplan rengi ve resmi */
  background-color: transparent;
  background-image: url("https://cdn-icons-png.flaticon.com/512/25/25243.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 17px;
  
}

/* seçili seçeneği vurgula */
.select-menu option:checked {
  background-color: green;
}

/* seçeneklerin üzerine gelince renk değiştir */
.select-menu option:hover {
  background-color: orange;
}

/*select-menu End*/

/*Header searchbox and input End*/


/* Home Screen Start*/
main{
  padding: 1rem;
}

.home-products{
  width: 80%;
  height: auto;
  margin: 0 auto;
  background-color: #f0f0f0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.home-h1{
  margin-bottom: 20px;
}

.home-product {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px red solid;
 /* Resmi çerçevenin dışına taşan kısımları kes---   border: 11px solid #ccc;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 10px;
  overflow: hidden;*/
}



.home-img {
  width: 100%; /* Çerçeve genişliği */
  height: 200px; /* Çerçeve yüksekliği */
  display: block;
 
}

.home-product-info{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 20px;
}

.home-name {
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}

.home-price {
  color: green;
}

.home-btn {
  background-color: #f0c14b;
  border: none;
  padding: 10px;
  width: 100%;
  margin-top: auto; /* Button'u en alta taşır */
}




/* Home Screen End*/

/*PRODUCT Screen start */


.product-screennn {
  display: flex;
  justify-content: space-around;
  align-items: center;
 
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.img-large {
  width: 200px; /* Çerçeve genişliği */
  height: 200px; /* Çerçeve yüksekliği */
  display: block;
}

.product-div-1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-div-2{

  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-name {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: capitalize;
  margin: 10px;
}

.product-rating {
  color: #f39c12;
  font-size: 18px;
}

.product-price {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
  margin: 10px;
}

.product-span-2{
  color: red;
}

.product-description {
  font-size: 22px;
  color: #333;
  margin-bottom: 20px;
  margin-top: 10px;
}

.product-countInStock {
  font-size: 18px;
  margin: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #2980b9;
}




/*PRODUCT Screen End*/


  .cart-image{
    height: 80px;
  }

  /*Sidebar start*/

  .navbar-brand{
    font-weight: bold;
  }

  

  .active-cont{
    margin-left: 200px;
    transition: 1s;
  }

  .active-nav{
    position: fixed; /* Sidebar'i sayfanin solunda sabitle */
    left: 0; /* Sidebar'i sol kenardan baslat */
    top: 0;
    height: 100%; /* Sidebar'in yuksekligini sayfa yuksekligine esitle */
    width: 200px; /* Sidebar'in genisligini belirt */
    background-color: #333; /* Sidebar'in arka plan rengini belirt */
    border-right: 2px solid #fff; /* Sidebar'in sag kenarina beyaz bir cizgi ekle */
    border-radius: 0 10px 10px 0; /* Sidebar'in sag ust ve alt koselelerine yuvarlaklik ver */
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5); /* Sidebar'a goz aldirici bir golge ekle */
    transition: 2s;

  }

  /* Sidebar stilini tanimla */
  .side-navbar {
  left: -200px;
  display: none;
   
  }

/* Navigasyon menusunun stilini tanimla */
.appjs-nav {
  list-style-type: none; /* Menudeki noktalari kaldir */
  padding: 0; /* Menudeki boslugu kaldir */
}

/* Navigasyon menusundeki basligin stilini tanimla */
.appjs-stg {
  color: white; /* Basligin rengini beyaz yap */
  font-size: 20px; /* Basligin boyutunu belirt */
  font-weight: bold; /* Basligi kalin yap */
  text-align: center; /* Basligi ortala */
}

/* Navigasyon menusundeki divlerin stilini tanimla */
.appjs-map-div {
  margin: 10px; /* Divler arasinda bosluk birak */
}

/* Navigasyon menusundeki baglantilarin stilini tanimla */
.appjs-link {
  color: white; /* Baglantilarin rengini beyaz yap */
  font-size: 16px; /* Baglantilarin boyutunu belirt */
  text-decoration: none; /* Baglantilarin alt cizgisini kaldir */
  display: block; /* Baglantilari blok yap */
  padding: 10px; /* Baglantilara ic bosluk ekle */
}

/* Baglantilarin ustune gelince stilini degistir */
.appjs-link:hover {
  background-color: #555; /* Baglantinin arka plan rengini degistir */
  border-radius: 10px; /* Baglantinin koselerine yuvarlaklik ver */
}

/*Sidebar end*/


  
  /* Cart Screen Start */

  .cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .cart-image {
    width: 100px;
    height: 100x;
  }
  
  .cart-name {
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .cart-details {
    display: flex;
    align-items: center;
  }
  
  .cart-minus, .cart-plus {
    border: none;
    background-color: transparent;
  }
  
  .cart-quantity {
    font-size: 18px;
    margin: 0px 10px;
  }
  
  .cart-price {
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
  }
  
  .cart-delete {
   margin-left: 30px;
  }

  .total{
    display: flex;
    justify-content: space-around;
  }

  .div-btn{
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  /* Cart Screen END */


  /*Shipping Screen Start*/

  .shipping-form {
    max-width: 600px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

.shipping-div {
    margin-bottom: 10px;
}


.shipping-label {
  display: inline-block;
  width: 120px;
  font-weight: bold;
}  

#fullName , #address , #city , #postalCode , #country{
  
    display: inline-block;
    width: 400px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.shipping-btn{
  display: block;
  margin: 0 auto;
  width: 200px;
  padding: 10px;
  background-color: #00a0d2;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.shipping-btn:hover {
  background-color: #008fb3;
}

 /*Shipping Screen END*/


 /*Payment Screen Start*/

    .payment-form {
        max-width: 600px;
        margin: 100px auto 20px auto;
        font-family: Arial, sans-serif;
    }

    .payment-div {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .payment-label {
        display: inline-block;
        width: 120px;
        font-weight: bold;
    }

    .payment-img{
      height: 100px;
      width: 400px;
    }

    input[type="radio"] {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1px solid #ccc;
        border-radius: 50%;
    }

    input[type="radio"]:checked {
        background-color: #00a0d2;
    }

    .payment-btn {
        display: block;
        width: 200px;
        margin: 20px auto;
        padding: 10px;
        background-color: #00a0d2;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }

    .payment-btn:hover {
        background-color: #008fb3;
    }

    /*Payment Screen End*/


    /*Place Order Start*/
    

    .place-full-com{
      display: flex;
      justify-content: center;
      padding: 0 5rem;
    }

    .place-order-image{
      height: 200px;
    }

    .place-div1{
      width: 70%;
    }

    .mini-container {
      border: 2px solid #ccc;
      margin: 10px;
      padding: 10px;
      border-radius: 10px;
    }
    
    .mini-body {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .mini-txt {
      font-size: 14px;
      margin: 5px;
    }
    
    .place-order-image {
      width: 100px;
      height: 100px;
    }
    
    .place-mini-h {
      color: #333;
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    
    .place-edit {
      color: #007bff;
    }
    
    .place-name-link {
      color: #333;
    }

    .place-stg{
      color:#666;
      font-size: 1.5rem;
    }

    .place-span{
      color: black;
      font-size: 1.2rem;
      text-transform: capitalize;
    }
    

    

    .place-details { /*place div-2 (sağ)*/
      width: 30%;
      border: 2px solid #ccc;
      margin: 10px;
      padding: 10px;
      border-radius: 10px;

    }
    
    .place-yy-div{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px;
    }
    
    .place-details h3 {
      color: #333;
      font-size: 2rem;
    }
    
    .place-details strong {
      color: #333;
      
    }
    
    .place-details button {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 15px;
      border-radius: 5px;
      margin-top: 1rem;
    }

    .place-right-button{
      display: flex;
      justify-content: center;
    }
     /*Place Order End*/

     /*Order Start*/
     .order-container {
      display: flex;
      justify-content: center;
      padding: 1rem 2rem;
    }

    .order-img{
      height: 100px;
    }

    .order-1{
      width: 70%;
      margin: 5px;
    }

    .order-span{
      color: black;
    font-size: 1.2rem;
    text-transform: capitalize;
    }

    .order-div{
      border: 2px solid #ccc;
      border-radius: 10px;
      margin-bottom: 5px;
      padding: 20px;
    }

    .order-2{
      border: 2px solid #ccc;
      width: 30%;
      margin: 5px;
      padding: 20px;
    }

    .order-h3{
      font-size: 2rem;
      margin-bottom: 1rem;
      color: #333;
    }

    .not{
      display: block;
      background-color: rgba(500, 0, 0, 0.5);
      padding: 20px;
      margin: 5px 0;
      border-radius: 10px;
    }

    .order-items{
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 30px;
    }

    .order-imgLink{
      display: flex;
      align-items: center;
    }

   .order-stg{
    color: #666;
    font-size: 1.5rem;
   }


.order2-div{
  display: flex; /* Div etiketlerini esnek olarak gösteriyoruz */
  justify-content: space-between; /* Div etiketlerinin içindeki öğeleri aralarında boşluk bırakarak yatay olarak dağıtıyoruz */
  align-items: center; /* Div etiketlerinin içindeki öğeleri dikey olarak ortalamak için */
  margin: 10px;
}

.order-2 > div > h4 {
  font-family: Arial, sans-serif; /* H4 başlıklarının yazı tipi */
  font-size: 18px; /* H4 başlıklarının yazı boyutu */
  font-weight:500; /* H4 başlıklarının yazı kalınlığı */
}

.order-2 > div > span {
  font-family: Arial, sans-serif; /* Span öğelerinin yazı tipi */
  font-size: 18px; /* Span öğelerinin yazı boyutu */
}

.order-btn-divv{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.order-btnn{
  background-color: #00a0d2;
  padding: 20px;
  border-radius: 20px;
}
    
      /*Order End*/


      /*SonAdim Start*/
      .son-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      
      .son-div {
        margin-bottom: 10px;
      }
      
      .son-label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
      }
      
      .son-input {
        width: 300px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      
      .son-btn {
        padding: 10px 20px;
        background-color: #4caf50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 30px;
      }
      
      .son-btn:hover {
        background-color: #45a049;
        
      }
      
      .son-btn:active {
        background-color: #3e8e41;
      }
      
      /*SonAdim End*/

      /*Signin Start*/
      .signin-form {
        border: 1px solid #ccc;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        border-radius: 10px;
        width: 300px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
      }
      
      .signin-label {
        display: block;
        font-size: 16px;
        font-weight: bold;
      }
      
      .signin-input {
        display: block;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 10px;
      }
      
      .signin-btn {
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #f0c14b;
      }
      
      .signin-link-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
      }
      
      .signin-link {
        color: blue;
        font-size: 25px;
        margin: 5px;
      }
      
      /*Signin End*/

      /*SearchScreen Start*/


        /* search-department sınıfına sahip div elementinin stilini belirliyoruz */
.search-department {
  /* arkaplan rengini açık gri yapıyoruz */
  background-color: lightgray;
  /* kenar boşluklarını 10 piksel yapıyoruz */
  margin: 10px;
  /* dolgu boşluklarını 20 piksel yapıyoruz */
  padding: 20px;
  /* yuvarlak köşeler için sınır yarıçapını 10 piksel yapıyoruz */
  border-radius: 10px;
}

/* search-department sınıfına sahip div elementinin içindeki h3 elementinin stilini belirliyoruz */
.search-department h3 {
  /* yazı rengini koyu gri yapıyoruz */
  color:#666;
  /* yazı tipini Arial olarak seçiyoruz */
  font-family: Arial;
}

/* search-department-ul sınıfına sahip ul elementinin stilini belirliyoruz */
.search-department-ul {
  /* liste işaretlerini kaldırıyoruz */
  list-style: none;
}

/* search-department-ul sınıfına sahip ul elementinin içindeki li elementlerinin stilini belirliyoruz */
.search-department-ul li {
  /* her liste öğesinin altına bir çizgi çiziyoruz */
  border-bottom: 1px solid gray;
  font-size: 1.5rem;
}

/* search-department-ul sınıfına sahip ul elementinin içindeki li elementlerinin içindeki Link componentlerinin stilini belirliyoruz */
.search-department-ul li a {
  /* yazı rengini siyah yapıyoruz */
  color: black;
  /* yazı tipini Arial olarak seçiyoruz */
  font-family: Arial;
}

.search-department-ul li a:hover {
  /* yazı rengini siyah yapıyoruz */
  color: blueviolet;
  /* yazı tipini Arial olarak seçiyoruz */
}

/* text-bold sınıfına sahip Link componentlerinin stilini belirliyoruz */
.text-bold {
  /* yazı kalınlığını artırıyoruz */
  font-weight: bold;
}





/* search-price sınıfına sahip div elementinin stilini belirliyoruz */
.search-price {
  /* arkaplan rengini açık mavi yapıyoruz */
  background-color: lightgray;
  /* kenar boşluklarını 10 piksel yapıyoruz */
  margin: 10px;
  /* dolgu boşluklarını 20 piksel yapıyoruz */
  padding: 20px;
  /* yuvarlak köşeler için sınır yarıçapını 10 piksel yapıyoruz */
  border-radius: 10px;
}

/* search-price sınıfına sahip div elementinin içindeki h3 elementinin stilini belirliyoruz */
.search-price h3 {
  /* yazı rengini koyu mavi yapıyoruz */
  color:#666;
  /* yazı tipini Arial olarak seçiyoruz */
  font-family: Arial;
}

/* search-search-ul sınıfına sahip ul elementinin stilini belirliyoruz */
.search-search-ul {
  /* liste işaretlerini kaldırıyoruz */
  list-style: none;
}

/* search-search-ul sınıfına sahip ul elementinin içindeki li elementlerinin stilini belirliyoruz */
.search-search-ul li {
  /* her liste öğesinin altına bir çizgi çiziyoruz */
  border-bottom: 1px solid gray;
  font-size: 1.5rem;
}

/* search-search-ul sınıfına sahip ul elementinin içindeki li elementlerinin içindeki Link componentlerinin stilini belirliyoruz */
.search-search-ul li a {
  /* yazı rengini siyah yapıyoruz */
  color: black;
  /* yazı tipini Arial olarak seçiyoruz */
  font-family: Arial;
}

.search-search-ul li a:hover {
  /* yazı rengini siyah yapıyoruz */
  color: purple;
  /* yazı tipini Arial olarak seçiyoruz */
  font-family: Arial;
}






.search-p-select{
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-sortBy{
  font-size: 25px;
}


/* search-result sınıfına sahip div elementinin stilini belirliyoruz */
.search-result {
  /* arkaplan rengini beyaz yapıyoruz */
  background-color:darkorange;
  /* kenar boşluklarını 10 piksel yapıyoruz */
  margin: 10px;
  /* dolgu boşluklarını 20 piksel yapıyoruz */
  padding: 20px;
  border-radius: 10px;
}

/* search-mini-result sınıfına sahip div elementinin stilini belirliyoruz */
.search-mini-result {
  /* arkaplan rengini açık sarı yapıyoruz */
  background-color: gray;
  /* yuvarlak köşeler için sınır yarıçapını 10 piksel yapıyoruz */
  border-radius: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

/* search-result-span sınıfına sahip span elementinin stilini belirliyoruz */
.search-result-span {
  /* yazı rengini koyu sarı yapıyoruz */
  color: white;
  /* yazı tipini Arial olarak seçiyoruz */
  font-family: Arial;
  font-size: 1.5rem;
}

.search-result-before-span{
  font-size: 1.5rem;
}

/* search-result-btn sınıfına sahip button elementinin stilini belirliyoruz */
.search-result-btn {
  /* arkaplan rengini koyu sarı yapıyoruz */
  background-color: gold;
  /* yazı rengini beyaz yapıyoruz */
  color: white;
  /* yazı tipini Arial olarak seçiyoruz */
  font-family: Arial;
  padding: 20px;
  border-radius: 10px;
  margin-left: 100px;
}

/* search-select sınıfına sahip select elementinin stilini belirliyoruz */
.search-select {
  /* arkaplan rengini açık mavi yapıyoruz */
  background-color: lightblue;
  margin: 1rem;
  width: 300px;
  font-size: 20px;
  padding: 10px;
}

/* search-not-product sınıfına sahip div elementinin stilini belirliyoruz */
.search-not-product {
  /* yazı rengini kırmızı yapıyoruz */
  color: red;
}

/* search-result-products sınıfına sahip div elementinin stilini belirliyoruz */
.search-result-products {
  /* arkaplan rengini açık yeşil yapıyoruz */
  background-color: lightgreen;
}

/* search-result-item sınıfına sahip div elementinin stilini belirliyoruz */
.search-result-item {
  /* her ürün için bir çerçeve çiziyoruz */
  border: 1px solid black;
}


      /*SearchScreen End*/


      /*Footer Start*/
      .footer {
        background-color: #9b9b9b;
        padding: 20px 0;
        color: #333;
        text-align: center;
      }
      
      .about {
        margin-bottom: 10px;
        font-size: 30px;
        color: rgb(238, 238, 238);
      }
      
      .footer h4{
        margin: 10px;
      }

      .footer p {
        margin-bottom: 0;
      }
      
      .footer-links li {
        list-style: none;
        margin-bottom: 5px;
        font-size: large;
      }
      
      .footer-links a {
        color: #333;
        text-decoration: none;
      }
      
      .footer-links a:hover {
        text-decoration: underline;
      }
      
      /*Footer End*/

      /*AboutScreen START*/

      .about-h1{
        margin-bottom: 15px;
      }

        .about-div{
          height: 100vh;
          padding: 0 30px;
        }

        .about-p{
          font-size: 20px;
          line-height: 1.5;
        }
      /*AboutScreen START*/
        
      /*Privacy Policy Start*/

        .privacy-div{
          
          padding: 30px;
        }

        .privacy-h1{
          margin-bottom: 15px;
        }

        .privacy-p{
          line-height: 1.5;
          font-size: 20px;
        }
      /*Privacy Policy End*/

      /*Delivery and return start*/

      .delivery-div{
        padding: 30px;
      }

          .delivery-h1{
            margin-bottom: 15px;
          }

          .delivery-p{
            line-height: 1.5;
            font-size: 20px;
          }
      /*Delivery and return start*/


      /*SONADİM Pop-up Start*/

      .son-check{
        transform: scale(1.5); 
        margin: 10px;
      }

      #showPopup{
        color: blue;
        font-size: 18px;
      }

      #popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
    }
    
    #popup-content {
        background-color: #e4dbdb;
        padding: 20px;
       
        max-width: 600px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 400px; /* Popup içeriğinin en fazla ne kadar yüksek olabileceği */
        overflow-y: auto;
    }

    .son-iimg{
      height:100px;
      width: 100%;
      margin-top: 50px;
    }

      /*SONADİM Pop-up End*/


      /*Communication Start*/
      h1 {
        text-align: center;
        margin-bottom: 20px;
      }
      
      .communication-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }
      
      .communication-label {
        font-weight: bold;
      }
      
      .communication-input {
        width: 300px;
        height: 25px;
      }
      
      .communication-texrarea {
        width: 400px;
        height: 200px;
        font-size: 20px;
      }
      
      .communication-button {
        display: block;
        margin: 0 auto;
        width: 100px;
        margin-top: 20px;
        background-color: #00a0d2;
        padding: 20px;
        border-radius: 20px;
      }
      
      /*Communication Ent*/

      /*TransactionOkScreen Start*/
      .payment-success{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
      }

      .payment-success *{
          margin: 20px;
      }
      /*TransactionOkScreen End*/


  /*TELEFON HALİİİİİİİİİİİİİİİİİİİİİİİİİİİİİİİİİİİİ START*/

  /*CART SCREEN Telefon Start*/
  @media (max-width: 600px) {
    .cart-item {
      flex-direction: column;
    }
  
    .cart-image {
      width: 50%;
      margin-bottom: 10px;
    }
  
    .cart-name {
      font-size: 16px;
      text-align: center;
    }
  
    .cart-quantity {
      justify-content: center;
      margin-bottom: 10px;
    }
  
    .cart-price {
      font-size: 16px;
      text-align: center;
      margin-bottom: 10px;
    }
  
    .cart-delete {
      align-self: flex-end;
    }
     /*CART SCREEN Telefon Start*/
  }
 

  